<template>
  <div id="app">

    <section class="hero is-dark">
      <div class="hero-body">
        <p class="title is-1 is-spaced">Currency Conversion</p>
        <p class="subtitle is-3"> Convert currency using a simple interface. </p>

        <div class="content">
          <p>Lorem ipsum<sup><a>[1]</a></sup> dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque. Sub<sub>script</sub> works as well!</p>
          <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque condimentum maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis. Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim dui. Ut et neque nisl.</p>
          <ul>
            <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
            <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
            <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
            <li>Ut non enim metus.</li>
          </ul>
        </div>

        <p class="title is-2 is-spaced has-text-centered">Current USD exchange rates:</p>
        <div class="columns is-desktop slight-bottom-pad">
          <div class="column">
            <b-card-group deck class="mb-1">
              <b-card border-variant="primary"
                      header="Converted to EUR:"
                      header-bg-variant="primary"
                      header-text-variant="white"
                      align="center">
                <h1>
                  <i class="fa fa-eur" aria-hidden="true"></i> {{ eur_value }}
                  <i class="fa fa-caret-up" aria-hidden="true" v-if="has_eur_gone_up"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" v-if="has_eur_gone_down"></i>
                </h1>
              </b-card>
            </b-card-group>
          </div>
          <div class="column">
            <b-card-group deck class="mb-1">
              <b-card border-variant="primary"
                      header="Converted to GBP:"
                      header-bg-variant="primary"
                      header-text-variant="white"
                      align="center">
                <h1>
                  <i class="fa fa-gbp" aria-hidden="true"></i> {{ gbp_value }}
                  <i class="fa fa-caret-up" aria-hidden="true" v-if="has_gbp_gone_up"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" v-if="has_gbp_gone_down"></i>
                </h1>
              </b-card>
             </b-card-group>
          </div>
          <div class="column">
            <b-card-group deck class="mb-1">
              <b-card border-variant="primary"
                      header="Converted to JPY:"
                      header-bg-variant="primary"
                      header-text-variant="white"
                      align="center">
                <h1>
                  <i class="fa fa-jpy" aria-hidden="true"></i> {{ jpy_value }}
                  <i class="fa fa-caret-up" aria-hidden="true" v-if="has_jpy_gone_up"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" v-if="has_jpy_gone_down"></i>
                </h1>
              </b-card>
            </b-card-group>
          </div>
          <div class="column">
            <b-card-group deck class="mb-1">
              <b-card border-variant="primary"
                      header="Converted to CNH:"
                      header-bg-variant="primary"
                      header-text-variant="white"
                      align="center">
                <h1>
                  <i class="fa fa-jpy" aria-hidden="true"></i> {{ cnh_value }}
                  <i class="fa fa-caret-up" aria-hidden="true" v-if="has_cnh_gone_up"></i>
                  <i class="fa fa-caret-down" aria-hidden="true" v-if="has_cnh_gone_down"></i>
                </h1>
              </b-card>
            </b-card-group>
          </div>
        </div>

        <p class="title is-2 is-spaced has-text-centered">Convert between currencies:</p>

        <b-jumbotron bg-variant="secondary" text-variant="dark" border-variant="white">
          <template slot="lead">
            <b-form @submit="onSubmit">
              <div class="columns is-desktop">
                <div class="column">
                  <b-form-group label="Input amount:">
                    <b-form-input type="number"
                                  v-model="form.input_amount"
                                  placeholder="Input currency amount">
                    </b-form-input>
                  </b-form-group>
                </div>
                <div class="column">
                  <b-form-group label="Input Currency:">
                    <b-form-select :options="currencies"
                                   required
                                   v-model="form.input_currency">
                    </b-form-select>
                  </b-form-group>
                  <b-form-group label="Output Currency:">
                    <b-form-select :options="currencies"
                                    required
                                    v-model="form.output_currency">
                    </b-form-select>
                    
                  </b-form-group>
                  <b-button type="submit" size="lg" variant="primary">Convert</b-button>
                </div>
                <div class="column">
                  <b-card-group deck class="mb-1">
                    <b-card border-variant="secundary"
                            header="Converted currency:"
                            header-bg-variant="success"
                            header-text-variant="white"
                            align="center">
                      <h1>{{ output_converted_amount }}</h1>
                    </b-card>
                  </b-card-group>
                </div>
              </div>
            </b-form>
          </template>
        </b-jumbotron>
      </div>
    </section>
  </div>
</template>


<script>
import Vue from 'vue'
export default {
  name: 'app',
  data () {
    return {
      forge_api_key: '1BsGVWTpdfrOl6V9zfiQoxNgKjF5k4x1',
      eur_value: 0,
      gbp_value: 0,
      jpy_value: 0,
      cnh_value: 0,
      has_eur_gone_up: false,
      has_eur_gone_down: false,
      has_gbp_gone_up: false,
      has_gbp_gone_down: false,
      has_jpy_gone_up: false,
      has_jpy_gone_down: false,
      has_cnh_gone_up: false,
      has_cnh_gone_down: false,
      output_converted_amount: 0,
      form: {
        input_amount: 0,
        input_currency: null,
        output_currency: null
      },
      currencies: [
        { text: 'Select One', value: null },
        'USD', 'EUR', 'GBP', 'JPY', 'CNH'
      ]
    }
  },
  mounted() {
    this.updateEurValue();
    this.updateGbpValue();
    this.updateJpyValue();
    this.updateCnhValue();
    setInterval(this.updateEurValue, 30000);
    setInterval(this.updateGbpValue, 30000);
    setInterval(this.updateJpyValue, 30000);
    setInterval(this.updateCnhValue, 30000);
  },
  methods: {
    updateConvertedValues() {
      this.updateEurValue();
      this.updateGbpValue();
      this.updateJpyValue();
      this.updateCnhValue();
    },
    updateEurValue() {
      Vue.http.get("https://forex.1forge.com/1.0.2/convert?from=USD&to=EUR&quantity=1&api_key="+this.forge_api_key).then(response => {
        var temporary_value = Number(response.body.value);

        if(temporary_value > this.eur_value) {
          this.has_eur_gone_up = true;
          this.has_eur_gone_down = false;
        }
        else if(temporary_value < this.eur_value) {
          this.has_eur_gone_up = false;
          this.has_eur_gone_down = true;
        }
        else {
          this.has_eur_gone_up = false;
          this.has_eur_gone_down = false;
        }

        this.eur_value = temporary_value;
      }, response => {
        console.log("Error requesting eur currency conversion from forex");
      });
    },
    updateGbpValue() {
      Vue.http.get("https://forex.1forge.com/1.0.2/convert?from=USD&to=GBP&quantity=1&api_key="+this.forge_api_key).then(response => {
        var temporary_value = Number(response.body.value);

        if(temporary_value > this.gbp_value) {
          this.has_gbp_gone_up = true;
          this.has_gbp_gone_down = false;
        }
        else if(temporary_value < this.gbp_value) {
          this.has_gbp_gone_up = false;
          this.has_gbp_gone_down = true;
        }
        else {
          this.has_gbp_gone_up = false;
          this.has_gbp_gone_down = false;
        }

        this.gbp_value = temporary_value;
      }, response => {
        console.log("Error requesting gbp currency conversion from forex");
      });
    },
    updateJpyValue() {
      Vue.http.get("https://forex.1forge.com/1.0.2/convert?from=USD&to=JPY&quantity=1&api_key="+this.forge_api_key).then(response => {
        var temporary_value = Number(response.body.value);

        if(temporary_value > this.jpy_value) {
          this.has_jpy_gone_up = true;
          this.has_jpy_gone_down = false;
        }
        else if(temporary_value < this.jpy_value) {
          this.has_jpy_gone_up = false;
          this.has_jpy_gone_down = true;
        }
        else {
          this.has_jpy_gone_up = false;
          this.has_jpy_gone_down = false;
        }

        this.jpy_value = temporary_value;
      }, response => {
        console.log("Error requesting jpy currency conversion from forex");
      });
    },
    updateCnhValue() {
      Vue.http.get("https://forex.1forge.com/1.0.2/convert?from=USD&to=CNH&quantity=1&api_key="+this.forge_api_key).then(response => {
        var temporary_value = Number(response.body.value);

        if(temporary_value > this.cnh_value) {
          this.has_cnh_gone_up = true;
          this.has_cnh_gone_down = false;
        }
        else if(temporary_value < this.cnh_value) {
          this.has_cnh_gone_up = false;
          this.has_cnh_gone_down = true;
        }
        else {
          this.has_cnh_gone_up = false;
          this.has_cnh_gone_down = false;
        }

        this.cnh_value = temporary_value;
      }, response => {
        console.log("Error requesting cnh currency conversion from forex");
      });
    },
    onSubmit (evt) {
      evt.preventDefault();
      
      Vue.http.get("https://forex.1forge.com/1.0.2/convert?from="+this.form.input_currency+"&to="+this.form.output_currency+"&quantity="+this.form.input_amount+"&api_key="+this.forge_api_key).then(response => {
        this.output_converted_amount = Number(response.body.value);
      }, response => {
        console.log("Error requesting currency conversion from forex");
      });
    }
  }
}
</script>